@import "tailwindcss";

@theme {
  --color-black: #002657;
  --color-white: #fff;
  --color-heading: #003e99;

  --font-heading: var(--font-noto-sans);

  --font-body: var(--font-inter);

  --color-primary: var(--color-primary-500);

  --color-primary-50: #f1f7fe;
  --color-primary-100: #dbe9fd;
  --color-primary-200: #b6d2fa;
  --color-primary-300: #8ab6f5;
  --color-primary-400: #5896eb;
  --color-primary-500: #2e7be0;
  --color-primary-600: #2364c4;
  --color-primary-700: #1b4faa;
  --color-primary-800: #123d91;
  --color-primary-000: #0a2a73;

  --color-gray-50: #f7f7f9;
  --color-gray-100: #f7f7f9;
  --color-gray-200: #f7f7f9;
  --color-gray-300: #f7f7f9;
  --color-gray-400: #f7f7f9;
  --color-gray-500: #f7f7f9;
}

body {
  background: var(--color-white);
  color: var(--color-black);
  --font-heading: var(--font-noto-sans);
  --font-body: var(--font-inter);
}

h1 {
  @apply font-heading text-[32px] md:text-[80px] font-bold leading-[130%];
}

.h2-medium {
  @apply font-heading font-medium text-[28px] md:text-[40px] leading-9 md:leading-12;
}

.h2-large {
  @apply font-heading text-[36px] md:text-[60px] leading-11 md:leading-[70px] font-medium;
}

.h3-medium {
  @apply font-heading  text-[24px] md:text-[32px] leading-8 md:leading-10 font-medium;
}

.h4 {
  @apply font-heading text-[20px] md:text-[24px] leading-7 md:leading-8;
}

.body-small {
  @apply font-body text-[16px] font-normal leading-6;
}

.body-medium {
  @apply font-body text-[16px] md:text-[18px] font-normal md:font-medium md:leading-6;
}

.body-large {
  @apply font-body text-[16px] md:text-[20px] font-normal leading-6 md:leading-7;
}

.container {
  @apply max-w-[1520px] w-full px-4 md:px-10 mx-auto py-[100px] md:py-[140px];
}

.glass {
  @apply bg-[#87CAE7]/20 rounded-[40px] backdrop-blur-2xl;
}

.shadow-button-hero {
  box-shadow: 0px 30px 66px rgba(0, 0, 0, 0.2),
    0px 121px 121px rgba(0, 0, 0, 0.1), 0px 272px 163px rgba(0, 0, 0, 0.1),
    0px 483px 193px rgba(0, 0, 0, 0.05), 0px 754px 211px rgba(0, 0, 0, 0.01);
}

a#arrow-right::after {
  content: "";
  position: absolute;
  right: 8px;
  background-color: var(--color-primary);
  z-index: 0;
  border-radius: 100%;
  width: 48px;
  height: 48px;
  transition: all 0.2s ease-in-out;
}

a#arrow-right:hover::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  right: 0px;
  background-color: var(--color-primary);
  z-index: 0;
  border-radius: 10%;
}

a#arrow-bottom::after {
  content: "";
  position: absolute;
  right: 8px;
  background-color: var(--color-primary);
  z-index: 0;
  border-radius: 100%;
  width: 48px;
  height: 48px;
  transition: all 0.2s ease-in-out;
}

a#arrow-bottom:hover::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  right: 0px;
  background-color: var(--color-primary);
  z-index: 0;
  border-radius: 10%;
}
